.places__image {
    width: 47.5%;
    padding-top: 48px;
    align-self: flex-start;
}

@media screen and (max-width: 540px) {
    .places__image {
        padding-top: 32px;
        width: 100%;
    }
}