.cover__subtitle {
    max-width: 360px;
    margin: 0;
    padding-top: 32px;
    opacity: 1;
    font-family: 'Inter', Tahoma, Geneva, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    transition: line-height 0.4s;
}

@media screen and (max-width: 540px) {
    .cover__subtitle {
        max-width: 288px;
        padding-top: 16px;
        font-size: 14px;
        line-height: 16px;
    }
}