.places__korobka {
    width: 50%;
    height: 100%;
    padding: 48px 0 0 28px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transition: padding 0.4s;
    transition: width 0.4s;
    transition: align-self 0.4s;
}

.places__korobka:nth-of-type(2) {
    align-self: flex-start;
}

@media screen and (max-width: 768px) {
    .places__korobka {
        padding: 32px 16px 0;
        width: 100%;
        align-self: flex-start;        
    }
}