.cover {
    width: 100%;
    max-width: 1280px;
    margin: 92px 0 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: center;
    text-decoration: none;
    transition: margin 0.4s;
}

@media screen and (max-width: 1024px) {
    .cover {
        margin: 92px 0 0;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin: 90px 0 0;     
    }
}

@media screen and (max-width: 320px) {
    .cover {
        margin: 66px 0 0;
    }
}