.cover {
    width: 100%;
    max-width: 1184px;
    margin-top: 92px;
    background: url(../../images/__background.jpg);
    background-size: cover;
    background-position: center;
    transition: margin 0.4s;
}

@media screen and (max-width: 768px) {
    .cover {
        margin-top: 90px;
    }
}

@media screen and (max-width: 540px) {
    .cover {
        margin-top: 66px;
    }
}