.footer__nav {
    margin: 0;
    margin-left: 18px;
    font-family: 'Inter Regular', Tahoma, Geneva, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    transition: margin 0.4s;
}

.footer__nav:first-of-type {
    margin-left: 0;
}

@media screen and (max-width: 768px) {
    .footer__nav {
        margin: 32px 0 0;
    }
}