.cover__background {    
    width: calc(100vw - 96px);
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    transition: width 0.4s;
}

@media screen and (max-width: 1024px) {
    .cover__background {
        width: 100vw;
    }
}